
<<<<<<< HEAD

=======
<% include ../headmain.ejs %>
>>>>>>> master
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

<table width='80%' border=0>

	<tr style='text-align:left; background-color:#CCC'>
    <th>Hint</th>
  </tr>

	<% if (data) { %>
	<% data.forEach(function(question){ %>
		<tr>
      <td><%= question.hint %></td>
			<td>
				<div style="float:left">
				 <a href='/questions/problemStatement/<%= question.questionID %>'>Back to question</a> &nbsp;
<<<<<<< HEAD
					<!-- <form method="post" action="/users/delete/<%= question.difficultyLevelID %>" style="float:right">
						<input type="submit" name="delete" value='Delete' onClick="return confirm('Are you sure you want to delete?')" /> -->
						<!-- <input type="hidden" name="_method" value="DELETE" />
					</form> -->
=======

>>>>>>> master
				</div>
			</td>
		</tr>


	<% }) %>
	<% } %>
</table>
