

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

<table width='80%' border=0>

	<tr style='text-align:left; background-color:#CCC'>
    <th>Questions</th>
		<th>difficulty Level</th>
		<th>Status</th>
		<th>View question</th>
		<th>Solution</th>


	</tr>

	<% if (data) { %>
	<% data.forEach(function(question){ %>
		<tr>
      <td><%= question.questionStatement %></td>
			<td><%= question.difficultyLevel %></td>
			<% if (question.status){
				%>
				<td>
					 ✅
					</td>
			<%}else {%>
				<td>
					❌
				</td>
				<%}%>
			<td>
				<div style="float:left">
					<a href='/questions/problemStatement/<%= question.questionID %>'>View</a> &nbsp;
				</div>
			</td>
			<td>
				<div style="float:left">
					<a href='/questions/problemStatement/<%= question.questionID %>'>Solution</a> &nbsp;
				</div>
			</td>

		</tr>
	<% }) %>
	<% } %>

</table>
