<html>
	<head>
		<title><%= title %></title>
	</head>
	<body>
		<div>
			<a href="/questions">All questions List</a>
			<a href="/questions/progress">view progress</a>
		</div>
		<h1><%= title %></h1>
