<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>About</title>
</head>
<style>
.button {
    background-color: #cccccc;
    border: none;
    color: black;
    padding: 8px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
body {background-color: powderblue;}}
</style>

 <h3 align = "center"> WELCOME TO EULER PROJECT 2.0 </h3>    

 <p align = "center">
 
<h6 style="color:black;margin-left:30px;">About Project Euler
What is Project Euler?
Project Euler is a series of challenging mathematical/computer programming problems that will require more than just mathematical insights to solve. Although mathematics will help you arrive at elegant and efficient methods, the use of a computer and programming skills will be required to solve most problems. </h6>

<h6 style="color:black;margin-left:30px;">The motivation for starting Project Euler, and its continuation, is to provide a platform for the inquiring mind to delve into unfamiliar areas and learn new concepts in a fun and recreational context.</h6>


<h6 style="color:black;margin-left:30px;">Who are the problems aimed at?
The intended audience include students for whom the basic curriculum is not feeding their hunger to learn, adults whose background was not primarily mathematics but had an interest in things mathematical, and professionals who want to keep their problem solving and mathematics on the cutting edge.</h6>


<h6 style="color:black;margin-left:30px;">Can anyone solve the problems?
The problems range in difficulty and for many the experience is inductive chain learning. That is, by solving one problem it will expose you to a new concept that allows you to undertake a previously inaccessible problem. So the determined participant will slowly but surely work his/her way through every problem.</h6>


<h6 style="color:black;margin-left:30px;">What next?
In order to track your progress it is necessary to setup an account and have Cookies enabled. If you already have an account then Login, otherwise please Register <a href="https://projecteuler.net/register" >here</a> – it's completely free!

However, as the problems are challenging then you may wish to view the Problems before registering.</h6>

</p>
<div class="page-wrapper">
  <p align="right">  
        <button class="button"><a href="/exit" title = "Back to Mainpage"> Back to Mainpage </a> </button>
  </p> 
</div>   

</body>
</html>