<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--<link rel="stylesheet" href="/assets/css/custom.css">-->
    <title><%= title %></title>
</head>
<style>
    .table-wrapper {
        margin-top: 50px;
    }


    .add-player-form {
        margin-top: 50px;
    }
body {background-color: powderblue;}
</style>
<style>
<style>
.button {
    background-color: #454545;
    border: none;
    color: white;
    padding: 10px 27px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
</style>
<body>

<div class="page-wrapper">
  <p align="right">

        <button class="button"><a href="/about"> About </a> </button>

        <button class="button"><a href="/login/login/" title= "Login">Login</a></button>

        <button class="button"><a href="/login/register/" title= "Register">Register</a></button>
  </p>
</div>
 <div class="page-wrapper">
    <nav class="navbar navbar-light bg-light">
        <p align="center">
         <span class="navbar-brand mb-0 h1" > <h3 align="center"> WELCOME TO EULER PROJECT 2.0 </h3> </span>
     </p>
        </nav>
</div>

<div class="page-wrapper">
<br> <br><br><h6 style="color:black;margin-left:30px;">About Project Euler
What is Project Euler?
Project Euler is a series of challenging mathematical/computer programming problems that will require more than just mathematical insights to solve. Although mathematics will help you arrive at elegant and efficient methods, the use of a computer and programming skills will be required to solve most problems. </h6>

<h6 style="color:black;margin-left:30px;">The motivation for starting Project Euler, and its continuation, is to provide a platform for the inquiring mind to delve into unfamiliar areas and learn new concepts in a fun and recreational context.</h6>


<h6 style="color:black;margin-left:30px;">Who are the problems aimed at?
The intended audience include students for whom the basic curriculum is not feeding their hunger to learn, adults whose background was not primarily mathematics but had an interest in things mathematical, and professionals who want to keep their problem solving and mathematics on the cutting edge.</h6>


<h6 style="color:black;margin-left:30px;">Can anyone solve the problems?
The problems range in difficulty and for many the experience is inductive chain learning. That is, by solving one problem it will expose you to a new concept that allows you to undertake a previously inaccessible problem. So the determined participant will slowly but surely work his/her way through every problem.</h6>


<h6 style="color:black;margin-left:30px;">What next?
In order to track your progress it is necessary to setup an account and have Cookies enabled. </h6>
</div>
</body>
</html>
