<html>
<% include headmain.ejs %>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<title><%= title %></title>
</head>

<body style="margin:200px">

<form action="/solution/ViewSolution/2", method="post">

<div class="form-group col-md-6">
      <label for="QuestionID">QuestionID</label>
      <input type="text" class="form-control" id="QuestionID" placeholder="QuestionID" name="questionID">
</div>


<div class="form-group col-md-6">
    <button type="submit" class="btn btn-primary">View Solution</button>
</div>

</form>

</body>

</html>
